@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;1,200;1,300;1,400;1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lily+Script+One&family=Poppins:ital,wght@0,200;0,300;0,500;1,300;1,400;1,500&display=swap');


* {
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    background-image: url(./img/premier.png);
    background-size: cover;
    background-attachment: fixed;
}

.navbar {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    height: 3rem;
    color: white;
    z-index: 1;
}

.navbar img {
    height: 100%;
    margin: 0;
    padding: 0;
    padding-left: 100px;
}

.navbar ul {
    display: flex;
    padding-right: 2rem;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navbar ul li {
    margin: 0 10px;
    margin-left: auto;
}

.navbar a {
    color: white;
    text-decoration: none;
    font-size: 2.0rem;
    font-family: 'Lily Script One', sans-serif;
    margin-right: 3rem;
    cursor: pointer;
    transition: color 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.navbar a:hover {
    color: orangered;
    transform: scale(1.1);
    transition: transform 0.3s ease-in-out;
}

.container {
    display: flex;
    width: 100%;
    height: 100%;
    border-radius: 8px;
    margin: 5.0rem;
    padding-left: 2rem;
    padding-right: 2rem;
}

.matches {
    flex: 1 0 60%;
    background-color: rgba(128, 128, 128, 0.574);
    border-radius: 8px;
    margin-right: 20px;
    padding: 1rem;
}

.match-details {
    flex: 1 0 35%;
    background-color: rgba(128, 128, 128, 0.574);
    border-radius: 8px;
    margin-right: 20px;
}

.container .matches h1 {
    text-align: center;
    font-family: 'Lily Script One', sans-serif;
    font-size: 2.5rem;

}

.container .matches p {
    font-size: 15px;
    font-weight: 600;
}

button {
    background-color: orangered;
}

button:hover {
    transform: scale(1.1);
}

.match-card {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    cursor: pointer;
    gap: 5px;
    padding-left: 1rem;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.75);
    border-radius: 1rem;
}

.match-card:hover {
    background-color: rgba(255, 68, 0, 0.812);
    transform: scale(1.0);
    transition: transform 0.5s ease-in-out;
}


.match-card img {
    width: 50px;
    height: 50px;
    object-fit: content;
}

.match-card h2 {
    margin: 0 20px;
    font-size: 20px;
    text-align: center;

}

.match-details {
    color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    align-items: stretch;
}

.match-details h2 {
    margin: 0;
    font-family: 'Lily Script One', sans-serif;
    font-size: 2rem;
    margin-bottom: 10px;
    color: black;
}

.match-details p {
    font-family: 'Lily Script One', sans-serif;
    font-size: 1.5rem;
    margin-bottom: 20px;
    color: black;
    font-weight: 600;
}

.match-details .ticket-count {
    margin-bottom: 10px;
}

/* .container .match-details h2 {
    text-align: center;
} */

.match-details .buy-button,
.match-details .cancel-button {
    background-color: orangered;
    color: white;
    font-size: 1rem;
    border: none;
    border-radius: 1rem;
    padding: 10px 20px;
    cursor: pointer;
    margin-right: 1rem;
    align-items: center;
}

.match-details .buy-button:disabled {
    background-color: orange;
    cursor: not-allowed;
}

#matchDetails {
    background-color: rgba(255, 255, 255, 0.75);
    margin: 1rem;
    padding: 1rem;
    border-radius: 1rem;

}

.delete-button {
    background-color: red;
    color: white;
    border: none;
    padding: 5px 15px;
    border-radius: 1rem;
    font-weight: bold;
    cursor: pointer;
}

.delete-button:hover {
    transform: scale(1.1);
    background-color: black;
}

.homecontainer {
    text-align: center;
    margin-top: 0.5rem;
    background-color: transparent;
    padding: 20px;
}

.homecontainer h1 {
    font-size: 3.5rem;
    font-family: 'Lily Script One', sans-serif;
    margin-bottom: 20px;
    color: rgba(255, 68, 0, 0.917);
}

.homebuttons {
    display: flex;
    justify-content: space-between;
    margin-top: 20rem;

}

.flex-container {
    flex: 1;
    margin: 0 10rem;
}

.homebuttons a {
    text-decoration: none;
    margin: 0 10px;
}

.homebuttons button {
    background-color: orangered;
    font-family: 'Lily Script One', sans-serif;
    font-size: 1.5rem;
    color: white;
    border: none;
    border-radius: 1rem;
    padding: 10px 40px;
    cursor: pointer;
    transition: transform 0.5s ease-in-out;
}

.homebuttons button:hover {
    background-color: darkorange;
    transform: scale(1.1);
}

.aboutcontainer {
    margin: 5rem;
    font-size: 1.2rem;
    background-color: rgba(128, 128, 128, 0.896);
    padding: 20px;
    box-sizing: border-box;
    border-radius: 1rem;
    text-align: center;
    font-weight: 500;
}

.aboutcontainer h2 {
    margin-bottom: 10px;
    text-align: center;
    font-family: 'Lily Script One', sans-serif;
    font-size: 2.7rem;
    color: black;
}

.aboutbuttons {
    display: flex;
    justify-content: center;
}

.aboutbuttons button {
    background-color: orangered;
    padding: 10px 20px;
    border-radius: 1rem;
    border: none;
    font-size: 1rem;
    color: whitesmoke;
    cursor: pointer;
    transition: transform 0.5s ease-in-out;
}

.aboutbuttons button:hover {
    transform: scale(1.3);
}

.contactscontainer {
    display: flex;
    margin: 4rem;

}

.my-contacts {
    width: 50%;
    height: auto;
    margin-right: 20px;
    border-radius: 1rem;
    padding: 3rem;
    font-size: 1.2rem;
    background-color: rgba(128, 128, 128, 0.896);
}

.my-contacts .contact-info {
    background-color: rgba(255, 255, 255, 0.812);
    border-radius: 1rem;
    padding: 0 40px;
    padding-left: 13rem;

}

.my-contacts .contact-info h3 {

    margin: 1rem;
}

.contact-container {
    width: 50%;
    height: auto;
    margin-right: 20px;
    border-radius: 1rem;
    background-color: rgba(128, 128, 128, 0.896);
    padding: 20px;
    box-sizing: border-box;
}

.contact-container h2,
.contact-container p {
    line-height: 1.5;
    font-size: 1.3rem;

}

.contact-container form {
    margin-top: 20px;
}

.contact-container .form-group {
    margin-bottom: 10px;
}

.contact-container label {
    display: block;
    font-weight: 500;
    font-size: 20px;
    margin-bottom: 5px;
}

.contact-container input,
.contact-container textarea {
    width: 100%;
    padding: 5px;
}

.contact-container button[type="submit"] {
    padding: 10px 40px;
    background-color: orangered;
    border-radius: 1rem;
    margin-left: 40%;
    color: #fff;
    font-size: 1.1rem;
    border: none;
    cursor: pointer;
    transition: transform 0.5s ease-in-out;
}

.contact-container button[type="submit"]:hover {
    transform: scale(1.2);
}



footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Lily Script One', sans-serif;
    padding: 15px;
    background-color: black;
    color: white;
    z-index: 1;
}

footer p {
    margin: 0;
    font-size: 1.4rem;

}

.copyright p {
    padding-left: 17rem;
}

.social-media,
.app-stores {
    display: flex;
    align-items: center;
}

.social-media p,
.app-stores p {
    margin: 0 10px;
}

.social-media a,
.app-stores a {
    text-decoration: none;
    color: white;
    font-size: 24px;
    margin-right: 10px;
    transition: transform 0.5s ease-in-out;
}

.social-media a:hover,
.app-stores a:hover {
    transform: scale(1.3) rotate(-3deg);
}

.app-stores {
    margin-left: auto;
}

.app-stores i {
    font-size: 28px;
}